.content {
  background-color: #b0c4de; }

.center-logo {
  text-align: center; }

.test {
  background-color: red; }

.chapters{
	margin-bottom: 10px;
}

.header-content {
	background-color: #0478A9;
}